<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a mat-button [routerLink]="['/']">Virtual Care challenge</a>
      <div class="justify-content-end">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/dashboard']">
            <mat-icon>supervisor_account</mat-icon>
            <span>Dashboard</span>
          </button>
          <button mat-menu-item [routerLink]="['/summary']">
            <mat-icon>person</mat-icon>
            <span>Patient summary</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>
