<h1 id="challenge-concepteur-full-stack">Challenge Concepteur Full Stack</h1>
<p>Ceci est un challenge qui sert d&#39;entrevue technique pour le poste de concepteur logiciel chez NOVO. N&#39;hésitez à forker ce repo. Les Pull Request seront ignorées.</p>
<h2 id="brief">Brief</h2>
<p>Concevoir une application web qui permet à un médecin d&#39;effectuer de la télémédecine pour un groupe de patients.</p>
<p><em>Les solutions partielles sont acceptées</em> Ce n&#39;est pas nécessaire de soumettre une solution qui implémente tous les requis.</p>
<h3 id="vue-tableau-de-bord">Vue Tableau de bord</h3>
<ul>
  <li>Ajouter/Supprimer les patients (Nom, Prénom, Age, Sexe, Courriel)</li>
  <li>Afficher l&#39;ensemble des patient et pour chaque patient, afficher ses signes vitaux (Fréquence cardiaque, Température, SpO2)</li>
</ul>
<h3 id="vue-patient">Vue Patient</h3>
<ul>
  <li>Afficher des statistiques (Min. Max. Avg.) pour chaque signe vital</li>
  <li>Envoyer un message au patient</li>
</ul>
<h2 id="port-e-du-challenge">Portée du challenge</h2>
<ul>
  <li>Description haut-niveau du design et des technologies utilisées</li>
  <li>API Serveur(en utilisant le langage de programmation et/ou le framework de votre choix)<ul>
    <li>Implémenter au moins 3 appels d&#39;API dont minimalement la mise à jour périodique des signes vitaux en utilisant des données générées aléatoirement</li>
    <li>La plupart des concepteurs chez NOVO utilisent C#/.Net Core ou Node.js côté serveur (avec MongoDB ou Firebase comme engin de BD), mais n&#39;hésite pas à utiliser ton environnement technologique préféré</li>
  </ul>
  </li>
  <li>Application web<ul>
    <li>Implémenter une Single Page Application en utilisant un framework moderne (ex.: React ou Angular ou Vue.js) qui communique avec le serveur</li>
    <li>Cela devrait s&#39;intégrer avec votre API, mais c&#39;est acceptable de générer du contenu statique pour certaines pages</li>
  </ul>
  </li>
  <li>Documenter les hypothèses que tu auras faites</li>
  <li>Une solution peut ne pas être complète, par contre, ce qui est soumis doit fonctionner</li>
</ul>
<p><em>Bref, impressionne-nous!</em></p>
<h2 id="comment-compl-ter-ce-challenge">Comment compléter ce challenge</h2>
<ul>
  <li>Forker ce repo sur Bitbucket.</li>
  <li>Complète le design et l&#39;implémentation tel que défini et ce, au meilleur de tes compétences.</li>
  <li>Lorsqu&#39;approprié, ajoute des notes dans ton code pour nous aider à comprendre. Assures-toi que ce soit compréhensible pour l&#39;équipe NOVO.</li>
  <li>Complètes le travail dans ton repo Git personnel et envoies-nous le résultat </li>
  <li>Tente d&#39;accomplir le plus en 4 à 8h de travail en tablant d&#39;abord sur tes forces. <ul>
    <li>Tu peux en faire plus si tu en a envie. On va te demander le nombre d&#39;heures faites de toute manière... ;)</li>
    <li>Tu peux aussi en faire moins (tu as probablement déjà un travail et possiblement un famille). On va juste te poser plus de questions... ;)</li>
  </ul>
  </li>
  <li>Prend en note qu&#39;on veut voir le style de code que tu écris, ainsi que les approche/structure/pattern/outils/etc. que tu utilises en général</li>
  <li>On va planifier une rencontre d&#39;une heure ensemble pour que tu nous présente le tout<ul>
    <li>L&#39;objectif est de comprendre les décisions que tu as pris et leurs motivations</li>
  </ul>
  </li>
</ul>
<h2 id="qu-est-ce-que-nous-recherchons-qu-est-ce-que-cela-prouve-">Qu&#39;est-ce que nous recherchons? Qu&#39;est-ce que cela prouve?</h2>
<ul>
  <li>Déterminer ta capacité à faire des hypothèses à partir de requis très limités</li>
  <li>Déterminer ta capacité à faire des choix technologiques et de design</li>
  <li>Identifier tes forces</li>
  <li>Il n&#39;y pas de réussite ou d&#39;échec, cela servira de base de discussion avec toi pour traiter des enjeux spécifiques.</li>
</ul>
