<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form class="add-edit-form">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="First name" [(ngModel)]="patient.firstName" name="firstName" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Last name" [(ngModel)]="patient.lastName" name="lastName" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field>
      <input matInput placeholder="Email" email [(ngModel)]="patient.email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="patient.gender" name="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{gender.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Age" [(ngModel)]="patient.age" name="age">
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions class="float-right">
  <button mat-raised-button (click)="onCancelClick()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-raised-button [mat-dialog-close]="patient">
    <mat-icon>save</mat-icon>
  </button>
</mat-dialog-actions>
